
.bespoke-slide
  background none



// Backgdrop
.bg-image
  background-size cover !important
  &--elmo
    background-image url(../images/elmo.jpg)
    background-position center center
    background-repeat no-repeat

  &--bunch-of-css
    background-image url(../images/bunch-of-css.png)
    background-position center center
    background-repeat no-repeat

.bg-image
  background-size cover !important

.asphalt
  background-color color-asphalt

.bg-amethyst.bespoke-backdrop-active
  background-color color-amethyst
  opacity 1

.bg-yellow.bespoke-backdrop-active
  background-color color-yellow
  opacity 1

.bg-white.bespoke-backdrop-active
  background-color white
  opacity 1

.bg-emerald.bespoke-backdrop-active
  background-color color-emerald
  opacity 1

.bg-carrot.bespoke-backdrop-active
  background-color color-carrot
  opacity 1

.bg-navy-blue.bespoke-backdrop-active
  background-color color-navy-blue
  opacity 1

.bg-red.bespoke-backdrop-active
  background-color color-red
  opacity 1
