
// Colors
color-yellow = #f2d50a
color-emerald = #2ecc71
color-amethyst = #9b59b6
color-red = #e55c53
color-asphalt = #34495e
color-carrot = #e67e22
color-dark-gray = #313d38
color-gray = #6d7d79
color-navy-blue = #379aaf
