// Sizes
h1
  font-size 2.4em
h2
  font-size 2em
h3
  font-size 1.7em
  font-weight:bold

p
  font-size 1.7em


// Colors
.text-color-yellow
  color color-yellow
.text-color-green
  color color-emerald
.text-color-violet
  color color-amethyst
.text-color-red
  color color-red
.text-color-asphalt
  color color-asphalt
.text-color-orange
  color color-carrot

.text-left
  text-align left
.p0
  padding 0
.m0
  margin 0
.text-emphasis
  background-color darken(color-yellow, 20%)
  padding 0 6px
